{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <main class="container">
        <section id="content">
            <h1 class="display-6">Bienvenu sur notre plateforme de cours en lignes</h1>
            <div class="card mb-5">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ asset('images/webdev.jpg') }}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Tenez-vous au courant des dernières nouveautés</h5>
                            <p class="card-text">Ne manquez aucune actualité ! Découvrez les tendances, innovations et informations clés qui façonnent le monde d'aujourd'hui. Restez informé et à la pointe grâce à nos mises à jour régulières et détaillées. Soyez toujours en avance !</p>
                            <p class="card-text"><a href="{{ path('app_news')}}" class="btn btn-secondary">Voir nouveautés</a></p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="card mb-5">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ asset('images/contact.jpg') }}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Découvrez l'ensemble de nos formations</h5>
                            <p class="card-text">Explorez notre catalogue complet de formations adaptées à tous les niveaux. Développez vos compétences, boostez votre carrière et atteignez vos objectifs grâce à des programmes conçus pour répondre aux besoins du marché. Inscrivez-vous dès aujourd'hui !</p>
                            <p class="card-text"><a href="{{ path('app_courses') }}" class="btn btn-secondary">Formations disponibles</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
