<footer>
    <footer class="col-md-12 mt-4 p-3 pb-4" style="background-color: #d5d5d5; text-align: center">
        <a href="{{ path('app_home')}}" class="text-reset btn-link" target="_blank">&copy; EAFC - webcourses 2024</a> - All rights reserved
    </footer>
</footer>